<!-- <div id="carousel" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="item active">
      <img src="..." alt="...">
    </div>
    <div class="item">
    </div>
    <div class="item">
    </div>
  </div>
</div> -->

<div class="jumbotron">
  <h1>silverprint.</h1>
  <p>
    the web instagram you've been secretly wishing for.
  </p>
</div>