<div class="jumbotron">
  <div class="photo-jumbotron-row">
    <div class="photo-jumbotron square large pull-left" id="square-large">
    </div>
    <div class="photo-jumbotron square small pull-left" id="square1">
    </div>
    <div class="photo-jumbotron square small pull-left" id="square2">
    </div>
    <div class="photo-jumbotron square small pull-left" id="square3">
    </div>
    <div class="photo-jumbotron square small pull-left" id="square4">
    </div>
  </div>
  
  <h1>silverprint.</h1>
  <p>
    the web instagram you've secretly been wishing for.
    <%= form_for @user, :url => session_url do |f| %>
      <%= f.hidden_field :username, :value => "demonic" %>
      <%= f.hidden_field :password, :value => "password" %>
      <%= f.submit "see the demo", :class => "btn btn-success btn-lg" %>
    <% end %>
  </p>
</div>

<script>
  $(function () {    
    function randInt(min, max) {
      return Math.floor(Math.random() * (max - min + 1) + min);
    }
    
    var placeRandomPhoto = function ($target, photos) {
      $target.hide();
      var $img = $("<img>");
      
      var randPhotoUrl = photos[randInt(0, photos.length - 1)].photoUrl;
      $img.attr("src", randPhotoUrl);
            
      $target.html($img);
      $target.fadeIn(1800);
    };
        
    var squares = [
      "#square-large",
      "#square1",
      "#square2",
      "#square3",
      "#square4"
    ];
    
    $.ajax({
      url: "/api/photos/random",
      type: "GET",
      success: function (photos) {
        squares.forEach(function (square) {
          placeRandomPhoto($(square), photos);
      
          (function loop() {
            var randInterval = (Math.random() * 5000) + 3000;
            setTimeout(function () {
              placeRandomPhoto($(square), photos);
              loop();
            }, randInterval);
          }());
        });
      }
    });
    
  });
</script>