<div class="btn-group" data-toggle="buttons">
  <label id="grid" class="btn btn-default">
    <input type="radio">
    <span class="glyphicon glyphicon-th-large"></span>
  </label>
  <label id="vertical" class="btn btn-default">
    <input type="radio">
    <span class="glyphicon glyphicon-align-justify"></span>
  </label>
</div>

<div id="photos">
</div>