<button id="grid" class="btn btn-default">
  <% if (view.mode === "vertical") { %>
    <span class="glyphicon glyphicon-th-large"></span>
  <% } else { %>
    <span class="glyphicon glyphicon-align-justify"></span>
  <% } %>
</button>
<button id="refresh" class="btn btn-default">
  <span class="glyphicon glyphicon-refresh"></span>
</button>

<div id="photos">
</div>