<td>
  <%= view.imageTag(user.get('profilePicUrl')) %>
  <%= view.linkTo(user.get('username'), "#users/" + user.id) %>
  <% if (user.isFollowedBy(Silverprint.currentUser)) { %>
    <button class="unfollow">unfollow</button>
  <% } else if (user.id != Silverprint.currentUser.id) { %>
    <button class="follow">follow</button>
  <% } %>
</td>
