<div class="clearfix">
  <div class="pull-left">
    <%= view.imageTag(user.get('profilePicShowUrl')) %>
  </div>
  <h1><%= user.get('username') %></h1>
  
  <div id="follow">
    <% if (user.isFollowedBy(currentUser)) { %>
      <button class="unfollow">unfollow</button>
    <% } else if (user.id != currentUser.id) { %>
      <button class="follow">follow</button>
    <% } %>
  </div>
  
  <% if (user.id == currentUser.id) { %>
    <%= view.linkTo(
              "change profile photo",
              "#",
              { id: "change-profile-pic" }) %>
              
    <div id="profile-pic">
    </div>  
  <% } %>
</div>

<div id="photos">
</div>
