<label for="photo_photo">add a photo</label>
<div>
  <input type="file" id="photo_photo" name="photo[photo]" accept="image/*">
  <input type="submit" value="add">
</div>
<div class="photo">
  <img id="preview" src="#">
</div>
<div>
  x
  <input type="text" id="x" name="photo[x]" value="">
  y
  <input type="text" id="y" name="photo[y]" value="">
  w
  <input type="text" id="width" name="photo[width]" value="">
  h
  <input type="text" id="height" name="photo[height]" value="">
</div>