<form id="photo-form" enctype="multipart/form-data">
  <label for="photo_photo">add a photo</label>
  <input type="file" id="photo_photo" name="photo[photo]" accept="image/*">
  <input type="submit" value="add">
</form>