<div>
  <input type="file" id="user_profile_pic"
    name="user[profile_pic]" accept="image/*">
  <button type="submit" class="btn btn-default btn-xs">change</button>
</div>
<div class="photo">
  <img id="preview" src="#">
</div>
