<div class="modal fade" id="photoModal<%= photo.id %>" tabindex="-1"
    role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-body">
      <%= view.imageTag(photo.get("photoLargeUrl")) %>
    </div>
  </div>
</div>