/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@import 'bootstrap';
@import 'jquery.Jcrop';
@import 'font-awesome';

img {
  margin: auto;
}

body {
  color: #ddd;
  background-color: #222;
}

button.close {
  color: #ddd;
  opacity: 1;
}

i {
  padding: 5px;
}

i.active {
  color: #428bca;
}

.glyphicon-blue {
  color: #428bca;
}

.glyphicon-red {
  color: red;
}

.grid-photo {
  padding: 10px;
  margin: auto;
}

.btn-link {
  color: #ddd;
}

.navbar-inverse {
  background-color: #333;
}

.photo-container {
  padding: 10px;
  margin: auto;
}

.photo-detail {
  margin-bottom: 40px;
}

.profile-pic {
  width: 200px;
  height: 200px;
}

.profile-pic-thumb {
  width: 50px;
  height: 50px;
}
.thumbnail {
  background-color: #333;
  border: none;
  display: inline-block;
  margin-bottom: 0px;
}

body.dragging, body.dragging * {
  cursor: move !important;
}

.dragged {
  position: absolute;
  opacity: 0.5;
  z-index: 2000;
}

li.sortable-element {
  cursor: move;
}

ol.sortable li.placeholder {
  position: relative;
}

ol.sortable li.placeholder:before {
  position: absolute;
  content: "";
  width: 5px;
  height: 100px;
  background-color: #ddd;
}

