/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@import 'bootstrap';
@import 'jquery.Jcrop';
@import 'font-awesome';

img {
  margin: auto;
}

body {
  color: #ddd;
  background-color: #222;
}

button.close {
  color: #ddd;
  opacity: 1;
}

i {
  padding: 5px;
}

i.active {
  color: #428bca;
}

.glyphicon-blue {
  color: #428bca;
}

.glyphicon-red {
  color: red;
}

.grid-photo {
  padding: 10px;
  margin: auto;
}

.btn-link {
  color: #ddd;
}

.btn-success {
  color: #333;
}

.jcrop img {
  max-width: none;
}

.jumbotron {
  background-color: #222;
  padding-top: 12px;
  padding-bottom: 12px;
}

.navbar-inverse {
  background-color: #333;
}

.photo-container {
  padding: 10px;
  margin: auto;
}

.photo-detail {
  margin-bottom: 40px;
}

.popover-content {
  color: #222;
  font-size: 12px;
}

.profile-pic {
  width: 200px;
  height: 200px;
}

.profile-pic-thumb {
  width: 50px;
  height: 50px;
}

.thumbnail {
  background-color: #333;
  border: none;
  display: inline-block;
  margin-bottom: 0px;
}

body.dragging, body.dragging * {
  cursor: move !important;
}

.dragged {
  position: absolute;
  opacity: 0.5;
  z-index: 2000;
}

.photo-jumbotron-row {
  border: 1px solid transparent;
  box-sizing: content-box;
  height: 400px;
  width: 800px;
}

.photo-jumbotron.square.large {
  background-color: #333;
  border: 1px solid transparent;
  height: 400px;
  position: relative;
  width: 400px;
}

.photo-jumbotron.square.large img {
  height: 398px;
  width: 398px;
}

.photo-jumbotron.square.small {
  background-color: #333;
  border: 1px solid transparent;
  height: 200px;
  width: 200px;
}

.photo-jumbotron.square.small img {
  height: 198px;
  width: 198px;
}

.photo-jumbotron-row h1 {
  position: absolute;
  top: 200px;
  left: 0;
  width: 100px;
}

li.sortable-element {
  cursor: move;
}

ol.sortable li.placeholder {
  position: relative;
}

ol.sortable li.placeholder:before {
  position: absolute;
  content: "";
  width: 5px;
  height: 100px;
  background-color: #ddd;
}

div.about-text {
  padding: 30px;
}

p.about-text {
  margin-bottom: 30px;
}

td.follow {
  margin: auto;
}
